.header {
    background-color: seagreen;
}

.header__title{
    text-decoration: none;
    h1 {
        color: white;
        margin: 0;
    }
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}